<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>259116052459-90svgh1mp78pd400bgpcmr13dt85d7of.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.259116052459-90svgh1mp78pd400bgpcmr13dt85d7of</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>259116052459-050umh0ot7jim249ddvs6icnnpc1lilu.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAToQED2s5Mn_fe1MlWhxDtwX-xvRkHhAE</string>
	<key>GCM_SENDER_ID</key>
	<string>259116052459</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.locumuser</string>
	<key>PROJECT_ID</key>
	<string>locumpro-261609</string>
	<key>STORAGE_BUCKET</key>
	<string>locumpro-261609.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:259116052459:ios:5a5bc8ccae560ff4e5b3ae</string>
	<key>DATABASE_URL</key>
	<string>https://locumpro-261609.firebaseio.com</string>
</dict>
</plist>